<div class="navbar" >
  <div class="navbar__left">
    <div class="navbar__item navbar__logo" >
    </div>
    <div class="navbar__item navbar__title">____ Networks</div>
  </div>
  <div class="navbar__spacer"></div>
  <div class="navbar__right">
    <div class="navbar__item navbar__menuItem">WestNet</div>
    <div class="navbar__item navbar__menuItem">John Miller</div>
    <div class="navbar__item navbar__menuItem">
      Alarms
      <div class="navbar__alarmsIcon" >
        <div class="navbar__alarmsIconText" >3</div>
      </div>
    </div>
    <div class="navbar__item navbar__menuItem">Help</div>
  </div>
</div>