<div class="navbar" >
  <div class="navbar__left">
    <div class="navbar__item navbar__logo" >
    </div>
    <div class="navbar__item navbar__title">____ ________</div>
  </div>
  <div class="navbar__spacer"></div>
  <div class="navbar__right">
    <div class="navbar__item navbar__menuItem">WestNet</div>
    <div class="navbar__item navbar__menuItem">John Miller</div>
    <div class="navbar__item navbar__menuItem navbar__alarms">
      <span class="navbar__alarmsTrigger" >
        Alarms
        <div class="navbar__alarmsIcon" style="display: none" >
          <div class="navbar__alarmsIconText">0</div>
        </div>
      </span>
      <div style="display: none" class="alarmDropdown" >
        alarmDropdown
      </div>
    </div>
    <div class="navbar__item navbar__menuItem">Help</div>
  </div>
</div>