<div class="sidebar" >
  <div class="sidebar__top" >
    <img class="sidebar__itemImage" width="35" src="img/icons/dashboard-icon_2@2x.png" alt="" />
    <div class="sidebar__itemText" > Dashboard </div>
  </div>
  <div class="sidebar__item" >
    <img class="sidebar__itemImage" width="35" src="img/icons/monitor-icon@2x.png" alt="" />
    <div class="sidebar__itemText" > Monitor </div>
  </div>
  <div class="sidebar__item" >
    <img class="sidebar__itemImage" width="35" src="img/icons/analytics-icon@2x.png" alt="" />
    <div class="sidebar__itemText" > Analytics </div>
  </div>
  <div class="sidebar__item" >
    <img class="sidebar__itemImage" width="35" src="img/icons/config-icon@2x.png" alt="" />
    <div class="sidebar__itemText" > Config </div>
  </div>
  <div class="sidebar__item" >
    <img class="sidebar__itemImage" width="35" src="img/icons/admin-icon@2x.png" alt="" />
    <div class="sidebar__itemText" > Admin </div>
  </div>
  <div class="sidebar__item" >
    <img class="sidebar__itemImage" width="35" src="img/icons/tools-icon@2x.png" alt="" />
    <div class="sidebar__itemText" > Tools </div>
  </div>
</div>