@font-face {
  font-family: SFSemibold;
  src: url("../fonts/SanFranciscoText-Semibold.otf") format("opentype");
}

@font-face {
  font-family: SFBold;
  src: url("../fonts/SanFranciscoText-Bold.otf") format("opentype");
}

.tooltipV2 {
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}
.tooltipV2--CCW {
  width: 500px;
  height: 308px;
}
.tooltipV2--CNG {
  width: 500px;
  height: 348px;
}

.tooltipV2__left {
  width: 28%;
  background: #f5f5f5;
  padding: 15px;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.2);
}
.tooltipV2__right {
  width: 72%;
  background: #ffffff;
  padding: 15px;
}
.tooltipV2__title {
  font-size: 10px;
  padding-left: 25px;
  padding-bottom: 15px;
  font-family: SFSemibold;
}
.tooltipV2--CNG .tooltipV2__title {
  padding-left: 35px;
}
.tooltipV2__headIcon--branch {
  position: absolute;
  top: 17px;
  left: 16px;
  width: 17px;
}
.tooltipV2__headIcon--cloud {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 27px;
}
.tooltipV2__itemLabel {
  font-family: SFSemibold;
  white-space: nowrap;
}
.tooltipV2__itemContent,
.tooltipV2__listItemContent {
  font-size: 13px;
}
.tooltipV2__itemWrap {
  padding-bottom: 10px;
}
.tooltipV2__flexWrap {
  display: flex;
}
.tooltipV2__chartTitle {
  font-size: 12px;
  font-family: SFSemibold;
}
.tooltipV2__chartTitleWrap {
  display: flex;
}
.tooltipV2__linkText {
  font-size: 8px;
}
.tooltipV2__chartStatus {
  font-size: 10px;
}
.tooltipV2__linkSpeedText {
  font-family: SFSemibold;
  font-size: 10px;
}
.tooltipV2__linkSpeedStats {
  font-size: 10px;
  min-width: 65px;
}

.tooltipV2__chartBody {
  margin-left: -12px;
  margin-top: -7px;
  margin-bottom: -6px;
}
.tooltipV2--CNG .tooltipV2__chartBody {
  margin-left: -3px;
}

.tooltipV2__chartYWrap {
  text-align: right;
  padding-right: 5px;
}
.tooltipV2__chartYText {
  font-size: 8px;
}
.tooltipV2--CNG .ct-labels foreignObject {
  overflow: visible;
  x: 5;
  white-space: pre;
}

.linkIcon--black,
.linkIcon--blue {
  position: relative;
  top: 2px;
  left: 4px;
  margin-right: 20px;
}
.linkIcon__circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: black;
}
.linkIcon__line {
  position: absolute;
  top: 3px;
  left: -3px;
  width: 14px;
  border-top: solid black 2px;
}
.linkIcon--blue .linkIcon__circle {
  background: #1bc2e2;
}
.linkIcon--blue .linkIcon__line {
  border-top: solid #1bc2e2 2px;
}
.linkIcon--black .linkIcon__circle {
  background: #000;
}
.linkIcon--black .linkIcon__line {
  border-top: solid #000 2px;
}


.tooltip,
.clusterTooltip {
  border: solid #CCC 1px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: #fff;
  width: 550px;
}
.clusterTooltip__tableHead {
  display: flex;
}
.clusterTooltip__tableRow--darker,
.clusterTooltip__tableRow--light,
.clusterTooltip__tableRow--dark {
  font-size: 13px;
  padding: 0 20px;
  display: flex;
  width: 100%;
}
.clusterTooltip__tableRow--darker {
  background: #e5e5e5;
}
.clusterTooltip__tableRow--light {
  background: #ffffff;
}
.clusterTooltip__tableRow--dark {
  background: #f5f5f5;
}

.clusterTooltip__tableColumn--1 {
  padding: 8px 0;
  width: 10%;
  border-right: solid #d1d1d1 1px;
}
.clusterTooltip__tableColumn--2 {
  padding: 8px 0 8px 10px;
  width: 20%;
  border-right: solid #d1d1d1 1px;
}
.clusterTooltip__tableColumn--3 {
  padding: 8px 0 8px 10px;
  width: 40%;
  border-right: solid #d1d1d1 1px;
}
.clusterTooltip__tableColumn--4 {
  padding: 8px 0 8px 10px;
  width: 30%;
}

.tooltip {
  width: 402px;
}
.tooltip__cta {
  color: white;
  background: orange;
  text-align: center;
  padding: 5px;
}
.tooltip__content {
  padding: 10px 15px;
  min-width: 200px;
}
.tooltip__row--light,
.tooltip__row--dark {
  font-size: 13px;
  padding: 8px 20px;
  display: flex;
  width: 100%;
}
.tooltip__row--light {
  background: #ffffff;
}
.tooltip__row--dark {
  background: #f5f5f5;
}
.tooltip__col {
  flex: 1;
}
.tooltip__head--cloud,
.tooltip__head--branch {
  padding: 10px 20px;
  border-bottom: solid #d1d1d1 1px;
  font-size: 17px;
  font-weight: 600;
}
.tooltip__head--cloud {
  padding-left: 60px;
}
.tooltip__head--branch {
  padding-left: 50px;
}
.tooltip__headIcon--cloud {
  position: absolute;
  top: 11px;
  left: 21px;
}
.tooltip__headIcon--branch {
  position: absolute;
  top: 10px;
  left: 21px;
}
.tooltip__X {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.tooltip__status {
  font-weight: 600;
}

/* Chart Overrides */
.ct-line {
  stroke-width: 1px;
}
.ct-point {
  stroke-width: 4px;
}
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #1bc2e2;
}
.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: #000;
}
.ct-grid {
  stroke: #a4a4a4;
  stroke-width: 1px;
  opacity: 0.2;
  stroke-dasharray: none;
}
.ct-label {
  font-size: 8px;
  color: #515151;
}

.ct-grid.ct-horizontal {
  display: none;
}
.ct-grid.ct-horizontal:first-child {
  display: inline;
  opacity: 1;
  stroke: #a4a4a4;
}
.ct-grid.ct-horizontal:nth-child(3n+1) {
  display: inline;
}

.ct-tick + .ct-grid.ct-vertical {
  opacity: 1;
  stroke: #a4a4a4;
}

.ct-tick {
  opacity: 1;
  stroke: #a4a4a4;
}
/* Y Axis labels */
.ct-label.ct-vertical.ct-start {
  white-space: nowrap;
}

