html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

* {
  font-size: 100%;
  font-family: font92671, Arial, sans-serif;
  color: #515151;
  user-select: none;
}