html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}




@font-face {
  font-family: SFRegular;
  src: url("../fonts/SanFranciscoText-Regular.otf") format("opentype");
}

@font-face {
  font-family: SFSemibold;
  src: url("../fonts/SanFranciscoText-Semibold.otf") format("opentype");
}

@font-face {
  font-family: SFBold;
  src: url("../fonts/SanFranciscoText-Bold.otf") format("opentype");
}

* {
  font-size: 11px;
  font-family: SFRegular, Arial, sans-serif;
  color: #515151;
  user-select: none;
}