.navbar,
.subnav,
.sidebar,
.content {
  position: absolute;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #f3f3f3;
  display: flex;
  padding: 15px;
  border: none;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.subnav {
  top: 80px;
  left: 80px;
  right: 0;
  height: 60px;
  background: #FFF;
  display: flex;
  padding-left: 20px;
  border-bottom: solid #CCC 1px;
}
.sidebar {
  top: 80px;
  bottom: 0;
  left: 0;
  width: 80px;
  background: #548135;;
  text-align: center;
}
.content {
  background: #CCC;
  position: absolute;
  top: 140px;
  bottom: 0;
  left: 80px;
  right: 0;
}

.navbar__left {
  display: flex;
}
.navbar__spacer {
  display: flex;
  flex: 1;
}
.navbar__right {
  display: flex;
}

.navbar__logo {
  width: 50px;
  height: 50px;
  background: #bbbeb8;
  margin-right: 15px;
}

.navbar__item {
  align-self: center;
  font-size: 18px;
}

.navbar__title {
  font-size: 25px;
}

.navbar__menuItem {
  margin-right: 40px;
  font-size: 18px;
}

.navbar__alarmsIcon {
  width: 20px;
  height: 20px;
  padding-top: 4px;
  border-radius: 10px;
  background: #ff0000;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.navbar__alarmsIconText {
  color: white;
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
}

.subnav__logo {
  margin-right: 15px;
}

.subnav__title {
  font-size: 20px;
}

.sidebar__item {
  margin-bottom: 25px;
}

.sidebar__itemImage {
  margin: 15px 15px 10px 15px;
}

.sidebar__itemText {
  font-size: 12px;
  color: white;
}

.sidebar__top {
  border-bottom: solid black 1px;
  height: 80px;
  margin-bottom: 15px;
  background: #2c5013;
}

.tooltip {
  border: solid #CCC 1px;
  -webkit-box-shadow: 1px 1px 1px 0px #666;
  -moz-box-shadow: 1px 1px 1px 0px #666;
  box-shadow: 1px 1px 1px 0px #666;
}
.tooltip__cta {
  color: white;
  background: orange;
  text-align: center;
  padding: 5px;
}
.tooltip__content {
  padding: 10px 15px;
  min-width: 200px;
}
.tooltip__arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFF;
  left: 90px;
  top: -1;
  transform: rotate(45deg);
  border-top: solid #CCC 1px;
  border-left: solid #CCC 1px;
}
.tooltip__row {
  margin-bottom: 5px;
  display: flex;
}
.tooltip__col {
  flex: 1;
}
.tooltip__head {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}
.tooltip__status {
  font-weight: 600;
}

.tooltip:before,
.tooltip:after {
  bottom: 97%;
  left: 50%;
  border: solid transparent;
  content : " ";
  height: 0;
  width: 0;
  position: absolute;
}

.tooltip:before {
  border-color: transparent;
  border-bottom-color: #CCC;
  border-width: 12px;
  margin-left: -12px
}
.tooltip:after {
  border-color: transparent;
  border-bottom-color: #FFF;
  border-width: 10px;
  margin-left: -10px;
}
